body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

header {
    padding: 20px;
    background: #4a90a4;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

#file-section {
    width: 100%;
    background: #181818;
    padding: 15px;
    border-radius: 10px;
}

#library {
    width: 40%;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
    min-height: 200px;
}

.track {
    background: #252525;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.track:hover {
    background: #333;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    font-size: 50px ;
}
h2{ 
    text-align: center;
}

#player {
    width: 50%;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
}

#cover {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

#controls button,
#extra-controls button {
    background: #4a90a4;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 18px;
}

#controls button:hover,
#extra-controls button:hover {
    background: #1c6f98;
}
